gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
/gradle/

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties
/past_question_paper/key

# Google Services (e.g. APIs or Firebase)
/android/app/google-services.json

# Firebase config files
lib/firebase_options.dart
